<header class="d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
        <button mat-icon-button class="mr-2">
            <mat-icon>menu</mat-icon>
        </button>
        <a href=""><img src="../../../assets/Sch.png" alt=""></a>
    </div>

    <div class="right-side-icons d-flex align-items-center">

        <button mat-icon-button class="m-1">
            <mat-icon>live_tv</mat-icon>
        </button>
        <button mat-icon-button class="m-1">
            <mat-icon>apps</mat-icon>
        </button>
        <button mat-icon-button class="m-1">
            <mat-icon>notifications</mat-icon>
        </button>
    </div>

    <!-- <div class="secondery-header">
        <cdk-virtual-scroll-viewport>
            <mat-selection-list #shoes [multiple]="false">
                <mat-list-option>
                    <mat-icon mat-list-icon>home</mat-icon>
                    <div mat-line>Home</div>
                </mat-list-option>
                <mat-list-option>
                    <mat-icon mat-list-icon>explore</mat-icon>
                    <div mat-line>Explore</div>
                </mat-list-option>
                <mat-list-option>
                    <mat-icon mat-list-icon>subscriptions</mat-icon>
                    <div mat-line>Subscriptions</div>
                </mat-list-option>
            </mat-selection-list>
            <mat-divider></mat-divider>
            <div mat-subheader>SUBSCRIPTIONS</div>
            <mat-selection-list [multiple]="false">
                <mat-list-option>
                    <mat-icon mat-list-icon>home</mat-icon>
                    <div mat-line>User 1</div>
                </mat-list-option>
                <mat-list-option>
                    <mat-icon mat-list-icon>home</mat-icon>
                    <div mat-line>User 2</div>
                </mat-list-option>
                <mat-list-option>
                    <mat-icon mat-list-icon>home</mat-icon>
                    <div mat-line>User 3</div>
                </mat-list-option>
            </mat-selection-list>
        </cdk-virtual-scroll-viewport>
    </div> -->

</header>